@import 'reset.css';
@import 'masonry.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;900&family=Source+Code+Pro&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

:root {
  --bg-gradient-color-one: rgba(97,136,157,0.73);
  --bg-gradient-color-two: rgba(121,78,166,0.73);
  --bg-image-url: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+');
  --bg-image-url-two: url('../images/background_pattern.png');
  --card-border-color: rgba(255, 255, 255, 0.6);
  --text-color: rgba(214, 214, 214, 1);
}

body {
  background-color: rgba(111,68,176,1); /* fallback */
  background-image: linear-gradient(150deg, rgba(200,0,0,0.7) 0%, rgba(111,68,176,1) 100%), var(--bg-image-url-two);
  background-attachment: fixed;
  background-size: cover;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);

  scrollbar-width: 12px;
  /* scrollbar-color: var(--text-color); */
}

body::-webkit-scrollbar-track {
  background: var(--bg-gradient-color-two);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 140%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 110%;
}

a {
  text-decoration: none;
  color: var(--text-color);
  /* text-shadow: 1px 1px #000; */
  border: 1px solid rgba(200,200,200,0.1);
  padding: 1px 3px;
  border-radius: 5px;
  /* text-transform: uppercase; */
  border-bottom: 1px solid rgba(200,200,200,0.5);
  font-size: inherit;
}
a:visited {
 color: inherit;
}

a:hover {
  color: #fff;
  font-style: italic;
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
}

hr:after {
  content: '. . .';
  font-family: monospace;
  width: 100%;
  /* position: absolute;
  width: 100%;
  left: 0;
  transform: translateX(0%);*/
  font-size: 10px;
  line-height: 10px;
}

/* CARD */
.card {
  width: 70%;
  min-width: 500px;
  margin: 30px auto;
  border-radius: 24px;
  border: 1.5px solid var(--text-color);
  padding: 5px;
  backdrop-filter: blur(6px);
  background-color: rgba(57, 129, 198, 0.25);
  position: relative;
  box-shadow: 6px 6px 32px 6px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 80%;
  min-height: 160px;
}

.card:nth-child(odd) {
  /* border: 4px solid #f00; */
  border-bottom-right-radius: 0;
}
.card:nth-child(even) {
  /* border: 4px solid #0f0; */
  border-bottom-left-radius: 0;
}

.card:nth-child(odd) .card-pic-hover {
  /* border: 4px solid #00f; */
  float: left;
  margin: 15px 5px 10px -70px;
}
.card:nth-child(even) .card-pic-hover {
  /* border: 4px solid #000; */
  float: right;
  margin: 15px -70px 10px 5px;
}

/* .card:before {
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../images/bgimg1.png');
  z-index: -1;
  transform: translateZ(-100px) translateX(-50%);
  filter: blur(2px);
  border-radius: 10px;
  opacity: 0.05;
  background-attachment: fixed;
  transform: translateZ(-999px) scale(2);
} */

.img-circle{
  border-radius: 50%;
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-size: cover;
}

.card-pic-hover {
  position: relative;
  /* margin: -70px auto 0 auto; */
  border: 3px solid var(--text-color);
  box-shadow: 6px 6px 32px 8px rgba(0,0,0,0.3);
}

/*
  float: left;
  margin: 10px 10px 10px -60px;
*/

.list-inline {
  list-style: none; /* shape outside url() */
}

.list-inline li {
  /* list-style: none; */
  display: inline-block;
  /* width: 100px; */
  /* border: 2px solid #0f0; */
}

.list-social {
  height: 50px;
  /* vertical-align: middle; */
  /* border: 1px solid #000; */
}
.list-social a {
  border: none;
  /* border: 1px solid #00f; */
}

.list-social-icon {
  border: none;
  border-bottom: 0;
  text-decoration: none;
  font-size: 30px;
  color: var(--text-color);
  transition: font-size 0.2s;
  /* border: 1px solid #f00; */
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
}

.list-social-icon:hover {
  color: #fff;
  font-size: 40px;
}

.modal-container a {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 129, 198, 0.5);
  backdrop-filter: blur(6px);
  transition: all 1.0s;
}

.modal-container .minimized {
  left: 50%;
  height: 10px;
  width: 10px;
  visibility: hidden !important;
  opacity: 0;
}


.entry {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: var(--text-color);
}
/* :selection {
  background-color: #f00;
  color: #fff !important;
  text-shadow: none;
} */

/* box-shadow sz, sz, blur, color */

/* margin 0 auto - set auto margin on left-right, top and bottom 0, set width */

/* <div class="masonry">
        <figure class="masonry-brick"><p>Langton's Ant</p><img src="https://unsplash.it/700/400" class="masonry-img" alt="Masonry Brick #1"></figure>
        <figure class="masonry-brick"><p>THIS IS MONO</p><img src="https://unsplash.it/700/300" class="masonry-img" alt="Masonry Brick #2"></figure>
        <figure class="masonry-brick"><p>SOME TEXT</p><img src="https://unsplash.it/700/500" class="masonry-img" alt="Masonry Brick #3"></figure>
        <figure class="masonry-brick"><p>SOME TEXT</p><img src="https://unsplash.it/700/250" class="masonry-img" alt="Masonry Brick #4"></figure>
        <figure class="masonry-brick"><p>SOME TEXT</p><img src="https://unsplash.it/700/450" class="masonry-img" alt="Masonry Brick #5"></figure>
        <figure class="masonry-brick"><p>SOME TEXT</p><img src="https://unsplash.it/700/350" class="masonry-img" alt="Masonry Brick #6"></figure>
        <figure class="masonry-brick"><p>SOME TEXT</p><img src="https://unsplash.it/700/600" class="masonry-img" alt="Masonry Brick #7"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/700" class="masonry-img" alt="Masonry Brick #8"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/200" class="masonry-img" alt="Masonry Brick #9"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/300" class="masonry-img" alt="Masonry Brick #10"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/420" class="masonry-img" alt="Masonry Brick #11"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/450" class="masonry-img" alt="Masonry Brick #12"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/550" class="masonry-img" alt="Masonry Brick #13"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/640" class="masonry-img" alt="Masonry Brick #14"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/420" class="masonry-img" alt="Masonry Brick #15"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/430" class="masonry-img" alt="Masonry Brick #16"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/340" class="masonry-img" alt="Masonry Brick #17"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/240" class="masonry-img" alt="Masonry Brick #18"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/780" class="masonry-img" alt="Masonry Brick #19"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/470" class="masonry-img" alt="Masonry Brick #20"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/380" class="masonry-img" alt="Masonry Brick #21"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/240" class="masonry-img" alt="Masonry Brick #22"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/900" class="masonry-img" alt="Masonry Brick #23"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/480" class="masonry-img" alt="Masonry Brick #24"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/300" class="masonry-img" alt="Masonry Brick #25"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/400" class="masonry-img" alt="Masonry Brick #26"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/500" class="masonry-img" alt="Masonry Brick #27"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/520" class="masonry-img" alt="Masonry Brick #28"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/920" class="masonry-img" alt="Masonry Brick #29"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/400" class="masonry-img" alt="Masonry Brick #30"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/560" class="masonry-img" alt="Masonry Brick #31"></figure>
        <figure class="masonry-brick"><img src="https://unsplash.it/700/370" class="masonry-img" alt="Masonry Brick #32"></figure>
    </div> */
