.container {
  position: relative;
  width: 800px;
  /* border: 1px solid #f00; */
  margin: 0 auto;
  /* border: 1px dashed #0f0; */
  /* display: flex; */
}

.mega-container {
  border-left: 8px solid rgb(180,0,0);
  min-height: 100vh;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 10px;
  /* border: 1px solid #000; */
}

/* .card-category {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  border-left: 5px solid rgb(180,0,0);
  border-radius: 0px 18px 0px 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.card-category h2 {
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 20px;
  margin: 60px 0;
  border-radius: 20px 0 20px 0;
} */
