.notification {
  display: flex;
  /* border: 1px solid #000; */
  font-size: 80%;
  border-radius: 0px 18px 0 18px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-left: 5px solid rgb(180,0,0);
  transition: 0.2s;
}
.notification:hover {
  border-color: rgb(255, 66, 8);
  transform: scale(1.01);
}
.notification:hover h4 {
  color: rgb(199, 10, 10);
}

.notification h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: rgb(180,0,0);
}
.notification p {
  font-size: 1.3em;
  margin: 0;
  padding: 0 25px;
}

.notification img:first-child {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  /* border-top-right-radius: 18px; */
}
